
header {
    background: #333;
    color: #ebebd3;
    padding: 1em 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
}

header::after {
    content: '';
    clear: both;
    display: block;
}
header .logo > h1 {
    color: #fff;
    text-align: center;
    /* margin-top: 150px; */
}
1

.logo {
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.logo h1 {
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    width: max-content;
}

.logo img {
    border-radius: 25%;
}

.site-nav {
    top: 100%;
    right: 0;
    position: absolute;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    display: flex;
    align-items: center;
}

.site-nav-open {
    clip-path: circle(150% at top right);
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: #ebedb3;
    display: block;
    padding: 2em 4em;
    text-transform: uppercase;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background: #e4b363;
    color: #464655;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle {

    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;

}

.menu-open .hamburger {
    transform: rotate(45deg);
}

.menu-open .hamburger::before {
    opacity: 0;
}

.menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

@media (min-width:700px) {
    .menu-toggle {
        display: none;
    }

    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
        clip-path: initial;
    }

    .site-nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 0;
        margin: 0 1.5em;
    }

    .site-nav--icon {
        display: none;
    }

    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }
}


/* ---------------------- */

.carrito__icon{
    position: relative;
    cursor: pointer;
}
.carrito__icon i{
    margin-top: .6rem;
    font-size: 3.5rem;
    color: var(--amarillo);
}
.carrito__icon span{
    position: absolute;
    top: 0rem;
    right: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rojo);
    color: var(--white);
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
}
